<div id="<%= dom_id event %>" class="card">
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Start date:</strong>
        <%= event.start_date %>
      </li>
      <li class="list-group-item">
        <strong>Duration:</strong>
        <%= event.duration %> minutes
      </li>
      <li class="list-group-item">
        <strong>Description:</strong>
        <%= event.description %>
      </li>
      <li class="list-group-item">
        <strong>Price:</strong>
        <%= event.price %> $
      </li>
      <li class="list-group-item">
        <strong>Location:</strong>
        <%= event.location %>
      </li>
    </ul>
  </div>
</div>
