<div id="<%= dom_id event %>" class="card">
      <h1>Page Profil</h1>
      <h3>Avatar actuel</h3>
      <%if @event.avatar.attached?%>
        <%= image_tag @event.avatar, alt: 'avatar' %>
      <%else%>
        <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
      <%end%>
    <%= form_tag event_avatars_path(@event), multipart: true do %>
    <%= file_field_tag :avatar %>
    <%= submit_tag "mettre à jour" %>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5> 
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Start date:</strong>
        <%= event.start_date %>
      </li>
      <li class="list-group-item">
        <strong>Duration:</strong>
        <%= event.duration %> minutes
      </li>
      <li class="list-group-item">
        <strong>Description:</strong>
        <%= event.description %>
      </li>
      <li class="list-group-item">
        <strong>Price:</strong>
        <%= event.price %> $
      </li>
      <li class="list-group-item">
        <strong>Location:</strong>
        <%= event.location %>
      </li>
    </ul>
  </div>
</div>
